{{ 'component-cart-flyout.css' | asset_url | stylesheet_tag }}

<div class="Flyout cart-flyout" aria-expanded="false">
  <div class="cart-flyout--header">
    <img class="cart-flyout--logo" src="{{ 'Kin_Small_Logo_black.png' | asset_url }}" />
    {% render 'icon-arrow' %}
  </div>
  <div class="Flyout-container cart-flyout--container" data-empty-message="{{ section.settings.cart_text }}">
    {% if section.settings.cart_text != blank and cart.item_count == 0 %}
      <p class="cart-flyout--text">{{ section.settings.cart_text }}</p>
    {% else %}
      {% for item in cart.items reversed %}
        <div class="cart-flyout--item-wrap">
          <div class="">
            <img class="cart-flyout--item-image" src="{{ item.image | img_url: 'master' }}"/>
          </div>
          <div class="">
            <p class="cart-flyout--item-title">{{ item.title }}</p>
            <p class="cart-flyout--item-details">
              {% if item.title contains 'Pack' %}
                Pack of 20,
              {% else %}
                Single bottle,
              {% endif %} {{ item.price | money }} each
            </p>
            <div class="cart-flyout--quantity">
              {% render 'icon-minus', item: item %}
              <span class="icon-action" data-variant-quantity-number="{{ item.quantity }}">{{ item.quantity }}</span>
              {% render 'icon-plus', item: item %}
            </div>
          </div>
          <div class="cart-flyout--remove">
            {% render 'icon-close', item: item %}
          </div>
        </div>
      {% endfor %}
      <hr class="cart-flyout--hr" />
      <div class="cart-flyout--bottom">
        <span class="cart-flyout--subtotal">Subtotal:</span> <span class="cart-flyout--price">{{ cart.total_price | money }}</span>
      </div>
    {% endif %}
  </div>
</div>