<svg width="21" height="26" viewBox="0 0 21 26" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect x="1" y="5.5" width="18.9" height="18.9" rx="0.9" stroke="#F9F8F5" stroke-width="1.5"/>
  <path d="M6.3999 3.7C6.3999 2.20883 7.60873 1 9.0999 1H11.7999C13.2911 1 14.4999 2.20883 14.4999 3.7V5.5H6.3999V3.7Z" stroke="#F9F8F5" stroke-width="1.5"/>
</svg>