<svg class="icon-plus" data-variant-id-plus="{{ item.id }}" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0.5 5.00014H8.5" stroke="#2B2B2B" stroke-linecap="square"/>
  <path d="M4.5 1L4.5 9" stroke="#2B2B2B" stroke-linecap="square"/>
</svg>