<svg class="icon-arrow" viewBox="0 0 54 14" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M45.4999 0.549316L53.4999 6.57369L45.4999 12.5493C45.4999 12.5493 43.735 6.57369 52.4999 6.57369C43.9043 6.57369 45.4999 0.549316 45.4999 0.549316Z" stroke="#2B2B2B" stroke-linejoin="round"/>
  <path d="M1 6.95986H51" stroke="#2B2B2B" stroke-linecap="square" stroke-linejoin="round"/>
</svg>