{{ 'component-menu-flyout.css' | asset_url | stylesheet_tag }}

<div class="Flyout header-flyout" aria-expanded="false">
  <div class="Flyout-container header-flyout--container">
    {% if menu_links != blank %}
      {% for link in linklists[menu_links].links %}
        {% if link.title contains "::" %}
          {% assign linkData = link.title | split: "::" %}
          <a 
            class="header-flyout--link{% if link.url contains 'product' %} header-flyout--link-product{% endif %}"
            href="{{ link.url }}">
            <img class="header-flyout--image" src="{{ linkData[1] }}" alt="{{ linkData[0] }}" />
            {{ linkData[0] }}
          </a>
        {% else %}
          <a 
            class="header-flyout--link{% if link.url contains 'product' %} header-flyout--link-product{% endif %}"
            href="{{ link.url }}">
            {{ link.title }}
          </a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>