{{ 'section-header.css' | asset_url | stylesheet_tag }}
{% assign menu_links = section.settings.main_menu %}

{% render 'menu-flyout', menu_links: menu_links %}

{% render 'cart-flyout' %}

<header class="header" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="header-container">
    <div class="header-flex">
      <div class="header-menu">
        {% if section.settings.menu_label != blank %}
          <span class="header-menu--label" data-menu-open>{{ section.settings.menu_label }}</span>
        {% endif %}

        {% if section.settings.close_label != blank %}
          <span class="header-menu--label menu-label--hidden" data-menu-close>{{ section.settings.close_label }}</span>
        {% endif %}
      </div>

      {% if section.settings.logo != blank %}
        <div class="header-logo--container">
          <a href="/">
            <img src="{{ section.settings.logo | img_url: 'master' }}" 
              class="header-logo"
              alt="{{ section.settings.logo.alt | default: shop.name }}"/>
          </a>
        </div>
      {% endif %}

      <div class="header-cart">
        {% render 'icon-bag' %}
      </div>
    </div>
  </div>
</header>

{{ 'cartFlyout.js' | asset_url | script_tag }}
{{ 'menuFlyout.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "menu_label",
      "label": "Menu Label",
      "default": "MENU"
    },
     {
      "type": "text",
      "id": "close_label",
      "label": "Close Menu Label",
      "default": "CLOSE"
    },
    {
      "type": "text",
      "id": "cart_text",
      "label": "Empty Cart Text",
      "default": "Your Cart is Thirsty."
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Link List"
    }
  ]
}
{% endschema %}