{{ 'section-homepage-hero.css' | asset_url | stylesheet_tag }}

<section class="homepage-hero" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="homepage-hero--bg">
    <div class="homepage-hero--container">
      <div class="homepage-hero--flex">
        <div class="homepage-hero--inner">
          {% if section.settings.main_heading != blank %}
            <div class="homepage-hero--main-heading Text-white">{{ section.settings.main_heading }}</div>
          {% endif %}

          {% if section.settings.sub_heading != blank %}
            <div class="homepage-hero--sub-heading Text-white">{{ section.settings.sub_heading }}</div>
          {% endif %}

          {% if section.settings.byline != blank %}
            <div class="homepage-hero--byline Text-white">{{ section.settings.byline }}</div>
          {% endif %}

          {% if section.settings.button_text_desktop != blank %}
            <a 
              class="homepage-hero--cta Button"
              data-ajax-atc
              data-variant-id-first="40465060724787"
              data-variant-id-second="40465060986931"
              data-variant-id-third="40465061281843">
              {{ section.settings.button_text_desktop }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% style %}
@media (min-width: 1500px) {
    .homepage-hero--bg {
      {% if section.settings.hero_desktop != blank %}
        background: url({{ section.settings.hero_desktop | img_url: 'master' }}) 50% 50% / cover no-repeat;
      {% endif %}
      height: 850px;
    }
  }

  @media (min-width: 1100px) and (max-width: 1499px) {
    .homepage-hero--bg {
      {% if section.settings.hero_desktop != blank %}
        background: url({{ section.settings.hero_desktop | img_url: 'master' }}) 50% 50% / cover no-repeat;
      {% endif %}
      height: 700px;
    }
  }

  @media (max-width: 1099px) {
    .homepage-hero--bg {
      {% if section.settings.hero_mobile != blank %}
        background: url({{ section.settings.hero_mobile | img_url: 'master' }}) 50% 50% / cover no-repeat;
      {% endif %}
      height: 400px;
    }
  }
{% endstyle %}


{% schema %}
{
  "name": "Homepage Hero",
  "class": "section-homepage--hero",
  "settings": [
     {
      "type": "richtext",
      "id": "main_heading",
      "label": "Main Heading"
    },
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "Subheading"
    },
    {
      "type": "richtext",
      "id": "byline",
      "label": "Byline"
    },
    {
      "type": "text",
      "id": "button_text_desktop",
      "label": "Button Text (desktop)"
    },
    {
      "type": "text",
      "id": "button_text_mobile",
      "label": "Button Text (mobile)"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL (mobile)"
    },
    {
      "type": "image_picker",
      "id": "hero_desktop",
      "label": "Hero Image (desktop)"
    },
    {
      "type": "image_picker",
      "id": "hero_mobile",
      "label": "Hero Image (mobile)"
    }
  ],
  "presets": [
    {
      "name": "Homepage Hero",
      "settings": {}
    }
  ]
}
{% endschema %}