@import '_variables.css';

body {
  background: rgb(104,90,143);
  background: linear-gradient(90deg, rgba(104,90,143,1) 0%, rgba(145,120,181,1) 100%);
  overflow-x: hidden;
}

.Button {
  background-color: var(--white);
  border-radius: 3px;
  color: var(--main);
  display: block;
  font-family: 'Univers';
  text-decoration: none;
}

@media(min-width: 1100px) {
  .Button {
    display: inline;
  }
}

.Flyout {
  background-color: var(--white);
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.95s ease;
  -moz-transition: all 0.95s ease;
  width: 100%;
}

.Flyout-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} 

.Text-white {
  color: var(--white);
}