:root {
  --main: #232323;
  --alt: #2b2b2b;

  /* Whites, Blacks, Greys */
  --white: #FFFFFF;
  --black: #000000;
  --gray-light: #E4E4E4;
  --gray-lighter: #F2F3F2;
  --gray-lightest: #E9E9E9;
  --gray-dark: #C8C8C8;
  --gray-darker: #5F6060;
  --gray-darkest: #3C3C3C;
}