@import '_variables.css';

.cart-flyout {
  right: -200%;
  box-shadow: -9px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

@media(min-width: 1100px) {
  .cart-flyout {
    width: 35%;
  }
}

.cart-flyout--bottom {
  display: flex;
  justify-content: space-between;
}

.cart-flyout--container {
  margin: 0 50px;
  text-align: center;
}

.cart-flyout--header {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

.cart-flyout--hr {
  border: 2px solid var(--alt);
}

.cart-flyout--item-details {
  font-family: 'Univers';
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 0;
}

.cart-flyout--item-image {
  height: auto;
  margin-right: 25px;
  margin-top: 15px;
  width: 45px;
}

.cart-flyout--item-title {
  font-family: 'Ogg-Regular';
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 5px;
}

.cart-flyout--item-wrap {
  display: flex;
  margin-bottom: 15px;
  text-align: left;
}

.cart-flyout--logo {
  position: absolute;
}

.cart-flyout--open {
  right: 0%;
  transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  z-index: 5;
}

.cart-flyout--price {
  font-family: 'Univers';
  font-size: 14px;
  line-height: 31px;
  letter-spacing: 0.777778px;
}

.cart-flyout--remove {
  align-self: center;
  cursor: pointer;
  margin-left: auto;
}

.cart-flyout--subtotal {
  font-family: 'Univers';
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.458333px;
  text-transform: uppercase;
}

.cart-flyout--text {
  display: block;
  font-family: 'Ogg-Regular';
  font-size: 40px;
  line-height: 53px;
}

.icon-action {
  margin: 0 10px;
}

.icon-close {
  height: auto;
  width: 22px;
}


.icon-minus, .icon-plus {
  cursor: pointer;
  vertical-align: middle;
  width: 8px;
}

.icon-minus {
  height: 8px;
  z-index: 3;
}

.icon-plus {
  height: auto;
  z-index: 3;
}