@import '_variables.css';

.header-flex {
  display: flex;
  justify-content: space-between;
}

.header-flyout {
  left: -200%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

@media(min-width: 1100px) {
  .header-flyout {
    width: 50%;
  }
}

.header-flyout--image {
  height: auto;
  opacity: 0;
  position: relative;
  left: -25px;
  top: 15px;
  transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  width: 20px;
}

@media(min-width: 1100px) {
  .header-flyout--image {
    width: 30px;
  }
}

.header-flyout--link {
  color: var(--alt);
  display: block;
  font-family: 'Univers';
  font-size: 14px;
  line-height: 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.header-flyout--link:hover {
  text-decoration: underline;
}

.header-flyout--link:hover .header-flyout--image {
  opacity: 1;
  transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

.header-flyout--link-product {
  font-family: 'Ogg-Italic';
  font-size: 40px;
  line-height: 70px;
}

@media(min-width: 1100px) {
  .header-flyout--link-product {
    font-family: 'Ogg-Regular';
    font-size: 60px;
    line-height: 90px;
  }
}

.header-flyout--open {
  left: 0%;
  transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  z-index: 3;
}