@import '_variables.css'; 

.homepage-hero--byline {
  font-size: 11px;
  line-height: 20px;
  font-family: 'Univers';
  letter-spacing: 0.46px;
  margin-top: 30px;
  text-align: center;
}

@media(min-width: 1100px) {
  .homepage-hero--byline {
    text-align: left;
  }
}

.homepage-hero--cta {
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.17px;
  padding: 14px 50px;
  margin: 0 auto;
  text-align: center;
  width: 85%;
}

@media(min-width: 1100px) {
  .homepage-hero--cta {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.17px;
    padding: 14px 50px;
  }
}

.homepage-hero--container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  top: 100%;
  transform: unset;
}

@media(min-width: 1100px) {
  .homepage-hero--container {
    top: 50%;
    transform: translateY(-50%);
  }
}

.homepage-hero--flex {
  display: flex;
  justify-content: center;
}

@media(min-width: 1100px) {
  .homepage-hero--flex {
    justify-content: unset;
  }
}

.homepage-hero--main-heading {
  font-family: 'Ogg-Regular';
  font-size: 60px;
  line-height: 68px;
  margin: 0;
  text-align: center;
}

@media(min-width: 1100px) {
  .homepage-hero--main-heading {
    font-size: 97px;
    line-height: 113px;
    margin: 0;
    text-align: left;
  }
}

.homepage-hero--main-heading strong {
  font-family: 'Ogg-Italic';
  margin: 0;
}

.homepage-hero--main-heading p {
  margin: 0;
}

.homepage-hero--sub-heading {
  font-family: 'Univers';
  font-size: 16px;
  line-height: 25px;
  margin-top: 30px;
  text-align: center;
}

@media(min-width: 1100px) {
  .homepage-hero--sub-heading {
    text-align: left;
  }
}