@import '_variables.css';

.header {
  background-color: transparent;
  position: absolute;
  top: 20px;
  width: 100%;
}

@media(min-width: 1100px) {
  .header {
    top: 10px;
  }
}

.header-cart {
  align-self: center;
  cursor: pointer;
}

.header-container {
  padding: 10px 20px;
}

.header-logo {
  width: 55px;
}

@media(min-width: 1100px) {
  .header-logo {
    width: 80px;
  }
}

.header-menu {
  align-self: center;
  border: 2px solid var(--white);
  border-radius: 50%;
  color: var(--white);
  font-family: 'Univers';
  font-size: 7px;
  height: 40px;
  position: relative;
  width: 40px;
}

@media(min-width: 1100px) {
  .header-menu {
    height: 50px;
    width: 50px;
  }
}

.header-menu--open {
  border: 2px solid var(--black);
  color: var(--black);
  z-index: 5;
}

.header-menu--label {
  cursor: pointer;
  left: 50%;
  letter-spacing: 0.7px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu-label--hidden {
  display: none;
  visibility: hidden;
}

.icon-arrow {
  cursor: pointer;
  height: auto;
  position: absolute;
  right: 50px;
  top: 10px;
  width: 54px;
}